@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,100&display=swap');
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}
body{
    background-color:beige;
}
a, li{
    font-family:roboto,sans-serif
}
img{
    width: 50px;
}
header{
    background-color:blanchedalmond;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:.5rem 2rem ;

}
.nav-menu ul{
    display: flex;
    align-items: center
}
li{
    margin-right: 1.5rem;
}
.nav-menu a:hover{
    color: #4ad295;
}

.nav-menu li:last-child:hover{
    background-color: pink;
}